In [5]:
import numpy as np
import pandas as pd

In [6]:
url ="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
df =pd.read_csv(url, delimiter='|')

In [7]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
users = pd.read_csv(url, delimiter='|', index_col='user_id')

In [8]:
print(users.head(25))

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

In [9]:
print(users.tail(10))

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [10]:
num_observations = users.shape[0]
print("Number of observations:", num_observations)

Number of observations: 943

In [11]:
num_columns = users.shape[1]
print("Number of columns:", num_columns)

Number of columns: 4

In [12]:
print("Column names:")
print(users.columns)

Column names:
Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [13]:
print("Indexing:")
print(users.index)

Indexing:
Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

In [14]:
print("Data types:")
print(users.dtypes)

Data types:
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [15]:
print("Occupation column:")
print(users['occupation'])

Occupation column:
user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [16]:
num_occupations = users['occupation'].nunique()
print("Number of different occupations:", num_occupations)

Number of different occupations: 21