In [42]:
import pandas as pd

In [43]:
# Create an example dataframe about a fictional army
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

In [44]:
army=pd.DataFrame(raw_data)

In [45]:
army=army.set_index('origin')

In [46]:
print(army['veterans'])

origin
Arizona         1
California      5
Texas          62
Florida        26
Maine          73
Iowa           37
Alaska        949
Washington     48
Oregon         48
Wyoming       435
Louisana       63
Georgia       345
Name: veterans, dtype: int64

In [47]:
print(army[['veterans', 'deaths']])

            veterans  deaths
origin
Arizona            1     523
California         5      52
Texas             62      25
Florida           26     616
Maine             73      43
Iowa              37     234
Alaska           949     523
Washington        48      62
Oregon            48      62
Wyoming          435      73
Louisana          63      37
Georgia          345      35

In [48]:
print(army.columns)

Index(['regiment', 'company', 'deaths', 'battles', 'size', 'veterans',
       'readiness', 'armored', 'deserters'],
      dtype='object')

In [49]:
print(army.loc[['Maine', 'Alaska'], ['deaths', 'size', 'deserters']])

        deaths  size  deserters
origin
Maine       43  1592          3
Alaska     523   987         24

In [50]:
print(army.iloc[2:7, 2:6])

         deaths  battles  size  veterans
origin
Texas        25        2  1099        62
Florida     616        2  1400        26
Maine        43        4  1592        73
Iowa        234        7  1006        37
Alaska      523        8   987       949

In [51]:
print(army.iloc[4:, :])

            regiment company  deaths  battles  size  veterans  readiness  \
origin
Maine       Dragoons     1st      43        4  1592        73          2
Iowa        Dragoons     1st     234        7  1006        37          1
Alaska      Dragoons     2nd     523        8   987       949          2
Washington  Dragoons     2nd      62        3   849        48          3
Oregon        Scouts     1st      62        4   973        48          2
Wyoming       Scouts     1st      73        7  1005       435          1
Louisana      Scouts     2nd      37        8  1099        63          2
Georgia       Scouts     2nd      35        9  1523       345          3

            armored  deserters
origin
Maine             0          3
Iowa              1          4
Alaska            0         24
Washington        1         31
Oregon            0          2
Wyoming           0          3
Louisana          1          2
Georgia           1          3

In [52]:
print(army.iloc[:4, :])

              regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Texas       Nighthawks     2nd      25        2  1099        62          3
Florida     Nighthawks     2nd     616        2  1400        26          3

            armored  deserters
origin
Arizona           1          4
California        0         24
Texas             1         31
Florida           1          2

In [53]:
print(army.iloc[:, 2:7])

            deaths  battles  size  veterans  readiness
origin
Arizona        523        5  1045         1          1
California      52       42   957         5          2
Texas           25        2  1099        62          3
Florida        616        2  1400        26          3
Maine           43        4  1592        73          2
Iowa           234        7  1006        37          1
Alaska         523        8   987       949          2
Washington      62        3   849        48          3
Oregon          62        4   973        48          2
Wyoming         73        7  1005       435          1
Louisana        37        8  1099        63          2
Georgia         35        9  1523       345          3

In [54]:
print(army[army['deaths'] > 50])

              regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Florida     Nighthawks     2nd     616        2  1400        26          3
Iowa          Dragoons     1st     234        7  1006        37          1
Alaska        Dragoons     2nd     523        8   987       949          2
Washington    Dragoons     2nd      62        3   849        48          3
Oregon          Scouts     1st      62        4   973        48          2
Wyoming         Scouts     1st      73        7  1005       435          1

            armored  deserters
origin
Arizona           1          4
California        0         24
Florida           1          2
Iowa              1          4
Alaska            0         24
Washington        1         31
Oregon            0          2
Wyoming           0          3

In [55]:
print(army[(army['deaths'] > 500) | (army['deaths'] < 50)])

            regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona   Nighthawks     1st     523        5  1045         1          1
Texas     Nighthawks     2nd      25        2  1099        62          3
Florida   Nighthawks     2nd     616        2  1400        26          3
Maine       Dragoons     1st      43        4  1592        73          2
Alaska      Dragoons     2nd     523        8   987       949          2
Louisana      Scouts     2nd      37        8  1099        63          2
Georgia       Scouts     2nd      35        9  1523       345          3

          armored  deserters
origin
Arizona         1          4
Texas           1         31
Florida         1          2
Maine           0          3
Alaska          0         24
Louisana        1          2
Georgia         1          3

In [56]:
print(army.loc[['Texas', 'Arizona']])

           regiment company  deaths  battles  size  veterans  readiness  \
origin
Texas    Nighthawks     2nd      25        2  1099        62          3
Arizona  Nighthawks     1st     523        5  1045         1          1

         armored  deserters
origin
Texas          1         31
Arizona        1          4

In [57]:
print(army.loc['Arizona'].iloc[2])

523

In [58]:
print(army.loc['Arizona', 'deaths'])

523