### Print Hello world

#### Print Heloo work

In [14]:
print("hello world")

hello world

##### Print Hello world

In [15]:
print("SRIRAM")

SRIRAM

###### Print hello world

In [16]:
print("DATA SCIENCE")

DATA SCIENCE

# print Hello world

# Variables

In [17]:
name="sriram"
age=31
Income=85000

In [18]:
print(name)
print(age)
print(Income)

sriram
31
85000

In [19]:
Namelist="sriram","nivetha"
Namelist

('sriram', 'nivetha')

In [21]:
Name_list="sriram","Nivetha"
Name_list

('sriram', 'Nivetha')

In [28]:
name="sriram"
name="nivetha"
print(name)

nivetha

In [24]:
x=y=z=24
print(y)

24

In [27]:
x,y,z=1,2,3
print(z)

3

In [30]:
Name="sriram"
print(Name)
type(name)

sriram

str

In [33]:
x=25
y=24
x/y

1.0416666666666667

In [35]:
x=10.5*y
y=6
x

252.0

In [37]:
x=10
y=10.5
x+y

20.5